<div class="container">
    <h3 class="display-4">Searching for something ?</h3>
    <form class="mt-5 form-group justify-content-center w-100">
        <div class="form-inline w-100">
            <input name="q" type="text" placeholder="Enter keyword to search" class="form-control w-75"
                id="exampleInputPassword1">
            <button type="submit" class="ml-2 mr-2 btn btn-primary">Search</button>
        </div>
    </form>
</div>